<div>
	Olá <%= @name %>, você recebeu um convite para ingressar no Fox, <%= link_to 'clique aqui', :controller => "users", :action => "new", :email => @activate_key, :host => "localhost:3000" %> para realizar seu cadastro.
</div>